@import 'breakpoints';

.content-block {
	$parent: &;

	position: relative;

	> figure {
		margin-bottom: 15px;
	}

	&__body {
	}

	// TODO: implement different layouts
	/*
	display: flex;

	> figure
	{
		flex:0 1 50%;
	}
	*/
}
